---
layout: page
title: Our story
permalink: /about-us/
---

<div class="page-wrapper">
  <div class="row">
    <div class="eight columns">
      <h2>Our story</h2>

      <p>
        Founded in 2012 JE Bennett Law is a relatively new practice, currently expanding and building on its initial success. The founder Jane Bennett has over 16 years experience as a private client lawyer, specialising in supporting vulnerable clients for the last 10 of those years.  Prior to founding JE Bennett Law, Jane was a partner at two city law firms.
      </p>
      <p>
        Jane is passionate about helping the vulnerable, and took the decision to start her own practice to have the freedom to focus on just that.  Specifically, she wanted to run a firm which could concentrate on the needs of the client without the burden of commercial targets and large overheads. Today at JE Bennett , we pride ourselves on offering our clients real value and a truly personal service.
      </p>
      <p>
        Our core business has been helping private clients on matters pertaining to court of protection. We act for those unable to help themselves and/or for their families. This role requires skills and experience in a number of legal practice areas and our work and client base has spread accordingly.
      </p>
 
      <h2>Our Ethos</h2>
      <p>
        JE Bennett has a straightforward business ethos... our clients come first. We have a hardworking team ethic and are completely committed to providing a supportive, caring, streamlined and very personal service to empower them wherever possible.
      </p>
      <p>
        We have put together a team that share these core values whilst bringing their own areas of expertise and experience.
      </p>
    </div>

    <div class="four columns">
      {% include team-link.html %}
      {% include what-we-do-link.html %}
      {% include education-and-memberships-link.html %}
    </div>
  </div>
</div>
