---
layout: page
title: Education and memberships
permalink: /education-and-memberships/
---

<div class="page-wrapper">
  <div class="row">
    <div class="eight columns">
      <h2>Education</h2>
      <p>
        Jane is actively involved in knowledge-sharing with key groups in her field. She regularly presents on elderly client law to local care homes. She has also spoken at presentations for the Good Care Group (via Symponia), and Sunrise residential home in Sevenoaks.
      </p>
      <p>
        Jane presented to a national catastrophic injury panel of leading defendant litigators in May 2014 on the direct recommendation of national insurer, Ageas.
      </p>

      <h2>Professional accreditations</h2>
      <p>
        JE Bennett are ranked in the prestigious Legal 500 rankings for Court of Protection and Jane Bennett has been named as a recommended lawyer.
      </p>
      <p>
        Our Managing Director and Senior Partner, Jane Bennett, is a member of the Court of Protection’s national panel of professional deputies.
      </p>
      <p>
        Jane undertook Part 1, STEP Advanced Certificate in Advising Vulnerable Clients in April 2015, and Part 2 in September.
      </p>
      <h2>Professional memberships</h2>
      <p>
        Jane is a full professional member of Solicitors for the Elderly and a lifelong member of Headway.
      </p>

    </div>

    <div class="four columns">
      <div class="award-col">
        <p>
          JE Bennett Law and Jane have recently been listed by the Legal500
        </p>
        <img src="http://www.legal500.com/assets/images/recommended/UK_leading_firm_2015.jpg" alt="The Legal 500 - The Clients Guide to Law Firms" height="150" border="0">
        <img src="http://www.legal500.com/assets/images/recommended/UK_recommended_lawyer_2015.jpg" alt="The Legal 500 - The Clients Guide to Law Firms" height="150" border="0">
      </div>
      {% include team-link.html %}
      {% include what-we-do-link.html %}
    </div>
  </div>

  <div class="row">
    <div class="two columns">
      <img src="{{ site.baseurl }}/images/logo-1.jpg" alt="Symponia logo" />
    </div>
    <div class="two columns">
      <img src="{{ site.baseurl }}/images/logo-2.jpg" alt="Solicitors for the elderly logo" />
    </div>
    <div class="two columns">
      <img src="{{ site.baseurl }}/images/logo-3.jpg" alt="Headway logo" />
    </div>
    <div class="two columns">
      <img src="{{ site.baseurl }}/images/logo-4.jpg" alt="SIA logo" />
    </div>
    <div class="two columns">
      <img src="{{ site.baseurl }}/images/logo-5.jpg" alt="BISWG logo" />
    </div>
    <div class="two columns">
      <img src="{{ site.baseurl }}/images/logo-1.jpg" alt="Action logo" />
    </div>
  </div>
