---
layout: page
title: Professional Development and Memberships
header: Professional Development and Memberships
permalink: /development-and-memberships/
---

<div class="page-wrapper">
  <div class="row">
    <div class="two columns">
      <img src="/images/logo-1.jpg" alt="Symponia logo" />
    </div>
    <div class="two columns">
      <img src="/images/logo-2.jpg" alt="Solicitors for the elderly logo" />
    </div>
    <div class="two columns">
      <img src="/images/logo-3.jpg" alt="Headway logo" />
    </div>
    <div class="two columns">
      <img src="/images/logo-4.jpg" alt="SIA logo" />
    </div>
    <div class="two columns">
      <img src="/images/logo-5.jpg" alt="BISWG logo" />
    </div>
    <div class="two columns">
      <img src="/images/logo-6.jpg" alt="Action logo" />
    </div>
  </div>

  <div class="row">
    <div class="eight columns">
      <h2>Professional accreditations</h2>
      <p>
        JE Bennett are ranked highly in the prestigious Legal 500 rankings for Court of Protection and Jane Bennett has been named as a 'Leading Individual' in her field, making her part of what is considered an elite list. This is a quote from the 2017 editorial:
        <br>
        <strong> 'JE Bennett Law provides a professional service in a friendly, sensitive and reassuring way. It is obvious the team has a detailed knowledge and understanding of the Court of Protection, and the procedural rules together with the rules relating to deputyship costs’. Jane Bennett is ‘prompt, personable and exceptionally knowledgeable’, and is ‘at the top of her game’
        </strong></p>
      <p>
        Our Managing Director and Senior Partner, Jane Bennett, is a member of the Office of the Public Guardian’s national panel of professional deputies.
      </p>
      <p>
        Jane undertook Part 1, STEP (Society of Trust and Estate Practitioners) Advanced Certificate in Advising Vulnerable Clients in April 2015, and Part 2 in September.
      </p>
      <h2>Professional memberships</h2>
      <p>
        Jane is a fully Accredited member of Solicitors for the Elderly and a lifelong member of Headway.
      </p>
      <p>
        Jane is an Affiliate member of STEP.
      </p>

    </div>

    <div class="four columns">
      <div class="award-col">
        <p>
          JE Bennett Law and Jane have recently been listed by the Legal500
        </p>
        <a href="/">
<img src="https://www.legal500.com/assets/images/recommended/UK_leading_firm_2017.jpg" alt="The Legal 500 - The Clients Guide to Law Firms" width="148" height="214" border="0"></a>
        <a href="/">
<img src="https://www.legal500.com/assets/images/recommended/UK_leading_individual_2017.jpg" alt="The Legal 500 - The Clients Guide to Law Firms" width="148" height="214" border="0"></a>
        
   </div>
      <br />
      <div class="sidebar">
        <h2>More about us</h2>
        <ul>
          <li>
            {% include our-story-link.html %}
          </li>
          <li>
            {% include team-link.html %}
          </li>
          <li>
            {% include who-we-help-link.html %}
          </li>
          <li>
            {% include our-stories-link.html %}
          </li>
        </ul>
      </div>
    </div>
  </div>
