---
layout: page
title: Professional Development and Memberships
header: Professional Development and Memberships
permalink: /development-and-memberships/
---

<div class="page-wrapper">
  <div class="row">
    <div class="two columns">
      <img src="/images/logo-1.jpg" alt="Symponia logo" />
    </div>
    <div class="two columns">
      <img src="/images/logo-2.jpg" alt="Solicitors for the elderly logo" />
    </div>
    <div class="two columns">
      <img src="/images/logo-3.jpg" alt="Headway logo" />
    </div>
    <div class="two columns">
      <img src="/images/logo-4.jpg" alt="SIA logo" />
    </div>
    <div class="two columns">
      <img src="/images/logo-5.jpg" alt="BISWG logo" />
    </div>
    <div class="two columns">
      <img src="/images/logo-6.jpg" alt="Action logo" />
    </div>
  </div>

  <div class="row">
    <div class="eight columns">
      <h2>Professional accreditations</h2>
      <p>
        JE Bennett are ranked highly in the prestigious Legal 500 rankings, recognised as a 'Leading Firm' for Court of Protection and Jane Bennett has been named as a 'Leading Individual' in her field, making her part of what is considered an elite list. Amy Paxton is also recognised by the Legal500 as a 'Recommended Lawyer'. Jane has also been recognised as a 'Noted Practitioner' by Chambers in their 2019 rankings. This is a quote from the Legal 500 2019 editorial:
       </p>
         <p>
        <strong> JE Bennett Law's ‘well-respected team' is ‘first rate for deputyship matters’. Jane Bennett is ‘superb at handling very difficult matters and at empowering and involving the client whenever possible’. The team is known for its Court of Protection deputyship work and advice to vulnerable clients regarding court of protection litigation, powers of attorney and elderly issues. It routinely handles disputes involving competing interests on contentious family-related matters frequently centring on financial and care/welfare related disputes. Senior associate Amy Paxton has ‘extensive knowledge of this area and can explain things in a way that is understandable, despite having to cover some complicated subjects’.  </strong></p>
         <img src="/images/lexcelsmall.jpg" alt="lexcel logo" />
    <p>  Our firm has Lexcel accreditation. Lexcel is the Law Society's legal practice quality mark for practice management and client care. 
      </p>
   
      <p>
        Our Managing Director and Senior Partner, Jane Bennett, is a member of the Office of the Public Guardian’s national panel of professional deputies. Panel members are appointed by the Court and there are only around 70 panel deputies nationwide.
      </p>
           <h2>Professional memberships</h2>
      <p>
        Jane is a fully Accredited member of Solicitors for the Elderly and a lifelong member of Headway for whom JE Bennett Law are a corporate supporter.
      </p>
      <p>
        Jane is an Affiliate member of STEP.
      </p>

    </div>

    <div class="four columns">
      <div class="award-col">
        <p>
          JE Bennett Law and Jane Bennett have now been ranked by the Legal500 for 4 consecutive years
        </p>
        <a href="/"> 
<a href="https://www.legal500.com/assets/pages/united-kingdom/uk.html">
<img src="https://www.legal500.com/assets/images/recommended/UK_leading_firm_2019.jpg" alt="The Legal 500 - The Clients Guide to Law Firms" width="148" height="214" border="0"></a>        <p></p>
       
          <a href="https://www.legal500.com/">
<img src="https://www.legal500.com/assets/images/recommended/UK_leading_individual_2019.jpg" alt="The Legal 500 - The Clients Guide to Law Firms" width="148" height="214" border="0"></a><p></p>

          <a href="https://www.legal500.com/assets/pages/united-kingdom/uk.html">
<img src="https://www.legal500.com/assets/images/recommended/UK_recommended_lawyer_2019.jpg" alt="The Legal 500 - The Clients Guide to Law Firms" width="148" height="214" border="0"></a>    
   </div>
      <br />
      <div class="sidebar">
        <h2>More about us</h2>
        <ul>
          <li>
            {% include our-story-link.html %}
          </li>
          <li>
            {% include team-link.html %}
          </li>
          <li>
            {% include who-we-help-link.html %}
          </li>
          <li>
            {% include our-stories-link.html %}
          </li>
        </ul>
      </div>
    </div>
  </div>
