---
layout: page
title: Meet the team
permalink: /the-team/
---

<div class="page-wrapper">
  <div class="row">
    <div class="three columns team-member">
      <img src="/images/jane.jpg" alt="Jane Bennett" />
      <p>
        Jane Bennett
      </p>
    </div>
    <div class="three columns team-member">
      <img src="/images/tom.jpg" alt="Tom Beaufoy" />
      <p>
        Tom Beaufoy
      </p>
    </div>
    <div class="three columns team-member">
      <img src="/images/lorna.jpg" alt="Lorna" />
      <p>
        Lorna
      </p>
    </div>
    <div class="three columns team-member">
      <img src="/images/melanie.jpg" alt="Melanie" />
      <p>
        Melanie
      </p>
    </div>
  </div>

  <div class="row">
    <div class="three columns team-member">
      <img src="/images/elizabeth.jpg" alt="Elizabeth" />
      <p>
        Elizabeth
      </p>
    </div>
    <div class="three columns team-member">
      <img src="/images/rachael.jpg" alt="Rachael" />
      <p>
        Rachael
      </p>
    </div>
    <div class="three columns team-member">
      <img src="/images/katie.jpg" alt="Katie Strong" />
      <p>
        Katie Strong
      </p>
    </div>
    <div class="three columns team-member">
      <img src="/images/ben.jpg" alt="Ben Aker" />
      <p>
        Ben Anker
      </p>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      {% include about-link.html %}
    </div>
    <div class="six columns">
      {% include what-we-do-link.html %}
    </div>
  </div>
</div>
