---
layout: page
title: Who we help
header: Who we help
permalink: /who-we-help/
---
<div class="page-wrapper">
  <div class="row">
    <div class="eight columns">
      <h3 id="family">The family of those lacking mental capacity</h3>
      <p>
        Our core business is helping the vulnerable. In practice this often means helping the family of the vulnerable protect their loved ones best interests.
      </p>
      <p>
        We can help if you have a loved one who has:
      </p>
      <ul>
        <li>
          Had a serious brain injury or illness
        </li>
        <li>
          Dementia
        </li>
        <li>
          Severe learning disabilities
        </li>
      </ul>

      <h3 id="elderly">The elderly</h3>
      <p>
        We also provide a full range of services for the elderly client:
      </p>
      <ul>
        <li>
          we offer Enduring/Lasting Powers of Attorney; Wills, and advice regarding care in the home, or the community
        </li>
        <li>
          We offer advice on trusts for grandchildren as a tax-efficient vehicle to plan
        </li>
        <li>
          We can act as certificate providers under Lasting Powers of Attorney
        </li>
        <li>
          We can draw up or review your existing will guiding you through the complex  rules and regulations surrounding the funding of  residential care home places
        </li>
      </ul>

      <h3 id="injured-party">The injured party</h3>
      <p>
        The injured party can be someone injured at birth; in an accident; by disease; through old age, third party negligence or by criminal assault.
      </p>
      <h3 id="lay-deputy">The lay deputy</h3>
      <p>
        The lay deputy is someone who has not been appointed as an independent professional, but usually as a family member or as a party who is in some way associated with or in close alliance with the patient.  The lay deputy would not charge for his or her services but would be entitled to be reimbursed for reasonable expenditure.
      </p>
      <h3 id="lay-trustee">The lay trustee</h3>
      <p>
        The lay trustee is someone who, similar to the lay deputy, is acting as a close family member or in close alliance with the injured party and who requires legal advice as they are not a professional with legal skills or experience.
      </p>
      <h3 id="claimants-pi">Claimants and defendants in personal injury cases</h3>
      <p>
        Both the claimant and defendants in high value claims will be litigating solicitors, on opposite sides in the given case.
      </p>
      <h3 id="claimants-cn">Claimants and defendants in clinical negligence cases</h3>
      <p>
        The claimant in clinical negligence cases will be the claimant litigator solicitor and the defendant will be the NHS Litigation Authority or otherwise the body governing the medical practitioner’s practice.
      </p>
      <h3 id="pi-insurers">PI insurers</h3>
      <p>
        The PI insurer will be funding the litigation action or providing compensation to the injured party.
      </p>
      <h3 id="cica-claimants">Criminal Injury Compensation Authority (“CICA”) claimants</h3>
      <p>
        The CICA claimant is a victim of a criminal assault and as such, is an injured party.
      </p>
      <h3 id="pi-lawyers">Personal injury and private client lawyers (via training)</h3>
      <p>
        The personal injury lawyer is an advisor who specialises in personal injury law in order to pursue or defend claims for personal injury.  The private client lawyer advises on non litigation-related matters, and specialises in any or all of the following legal areas: personal and trust tax and estate planning; Wills and Probate; the law regarding the elderly or vulnerable client.
      </p>
      <h3 id="local-authorities">Local Authorities</h3>
      <p>
        We support Local Authorities in relation to complex matters regarding financial and health and welfare for vulnerable service users; those lacking capacity; and/or those involving difficult family members. Read more here: <a href="{{ site.baseurl }}local-authorities-residential-care-solicitors-sevenoaks-kent">working with Local Authorities</a>
      </p>
        <h3 id="case managers">Case Managers</h3><p>
      At JE Bennett Law, we currently work closely with many case managers, assisting vulnerable people all over the country. Read more here: <a href="{{ site.baseurl }}case-managers-solicitors-sevenoaks-kent">working with case managers</a></p>
    </div>


    <div class="four columns sidebar">
      <h2>More about us</h2>
      <ul>
        <li>
          {% include our-story-link.html %}
        </li>
        <li>
          {% include team-link.html %}
        </li>
        <li>
          {% include education-and-memberships-link.html %}
        </li>
        <li>
          {% include our-stories-link.html %}
        </li>
      </ul>
    </div>

  </div>
</div>
