<footer class="site-footer">

  <div class="wrapper">
    <div class="trigger">
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="{{ site.baseurl }}/what-we-do">What we do</a>
      <a href="{{ site.baseurl }}/about-us">About</a>
      <a href="{{ site.baseurl }}/news">News</a>
      <a href="{{ site.baseurl }}/contact-us">Contact us</a>
      <!-- {% for page in site.pages %}
      {% if page.title %}
      <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
      {% endfor %} -->
    </div>
    <div class="footer-col">
      <p class="footer-text">{{ site.description }}</p>
    </div>
  </div>

</div>

</footer>
