<header class="site-header">

  <div class="wrapper">
    <div class="row">
      <div class="four columns">
        <a href="{{ relative_url }}">
          <img class="logo" src="{{ "images/logo.jpg" | relative_url }}" alt="JE Bennett Law logo"/>
        </a>
      </div>

      <div class="eight columns">
        <nav id="nav" role="navigation">
        <a href="#nav" title="Show navigation"><i class="fa fa-bars"></i> Menu</a>
        <a href="#" title="Hide navigation"><i class="fa fa-times"></i> Close</a>
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <a href="/" aria-haspopup="true">Our services</a>
                <ul>
                    <li><a href="/vulnerable-client-law">Vulnerable client legal services</a></li>
                    <li class="sub-nav"><a href="/court-of-protection-solicitors-sevenoaks-kent">- Court of protection</a></li>
			<li class="sub-nav"><a href="/power-of-attorney-solicitors-sevenoaks-kent">- Power of Attorney</a></li>
                    <li class="sub-nav"><a href="/elderly-solicitors-sevenoaks-kent">- Elderly client law</a></li>
                    <li class="sub-nav"><a href="/personal-injury-trusts-solicitors-sevenoaks-kent">- Personal injury trusts</a></li>
                    <li><a href="/expert-witness-personal-injury-solicitors-sevenoaks-kent">Expert witness</a></li>
                    <li><a href="/training-personal-injury-solicitors-sevenoaks-kent">Training</a></li>
              			<li><a href="/local-authorities-residential-care-solicitors-sevenoaks-kent">Working with Local Authorities</a></li>
              			<li><a href="/case-managers-solicitors-sevenoaks-kent">Working with Case Managers</a></li>
              			<li><a href="/costs-consultancy-solicitors-sevenoaks-kent">Costs Consultancy Service</a></li>
                </ul>
            </li>
            <li>
                <a href="/" aria-haspopup="true">About us</a>
                <ul>
                    <li><a href="/about-us">Our story</a></li>
                    <li><a href="/who-we-help">Who we help</a></li>
                    <li><a href="/the-team">The team</a></li>
                    <li><a href="/development-and-memberships">Professional memberships</a></li>
                    <li><a href="/client-stories">Client stories &amp; testimonials</a></li>
                </ul>
            </li>
            <li><a href="/news">News</a></li>
            <li><a href="/contact-us">Contact us</a></li>
        </ul>
    </nav>
      </div>
    </div>

  </div>

</header>

<div class="row">
  <div class="three columns">
    <p class="call-us">
      Call to arrange a free confidential
      <br>consultation: <strong>01732 454 983</strong>
    </p>
  </div>
</div>

<div class="hero-image">
  <img src="/images/hero.jpg" />
</div>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/scripts/doubleTapToGo.js"></script>

<script>
	$( function()
	{
		$( '#nav li:has(ul)' ).doubleTapToGo();
	});
</script>
