<div class="header-wrapper">

<header class="site-header">

  <div class="wrapper">
    <div class="row">
      <div class="four columns">
        <a href="{{ site.baseurl }}">
          <img class="logo" src="{{ site.baseurl }}images/logo.jpg" alt="JE Bennett Law logo"/>
        </a>
      </div>

      <div class="eight columns">
        <nav id="nav" role="navigation">
        <a href="#nav" title="Show navigation"><i class="fa fa-bars"></i> Menu</a>
        <a href="#" title="Hide navigation"><i class="fa fa-times"></i> Close</a>
        <ul>
            <li><a href="{{ site.baseurl }}">Home</a></li>
            <li>
                <a href="/" aria-haspopup="true">Our services</a>
                <ul>
                    <li><a href="{{ site.baseurl }}vulnerable-client-law">Vulnerable client legal services</a></li>
                    <li class="sub-nav"><a href="{{ site.baseurl }}court-of-protection">- Court of protection</a></li>
                    <li class="sub-nav"><a href="{{ site.baseurl }}elderly-client-law">- Elderly client law</a></li>
                    <li class="sub-nav"><a href="{{ site.baseurl }}personal-injury-trusts">- Personal injury trusts</a></li>
                    <li><a href="{{ site.baseurl }}expert-witness">Expert witness</a></li>
                    <li><a href="{{ site.baseurl }}training">Training</a></li>
                </ul>
            </li>
            <li>
                <a href="/" aria-haspopup="true">About us</a>
                <ul>
                    <li><a href="{{ site.baseurl }}about-us">Our story</a></li>
                    <li><a href="{{ site.baseurl }}who-we-help">Who we help</a></li>
                    <li><a href="{{ site.baseurl }}the-team">The team</a></li>
                    <li><a href="{{ site.baseurl }}development-and-memberships">Professional memberships</a></li>
                    <li><a href="{{ site.baseurl }}client-stories">Client stories &amp; testimonials</a></li>
                </ul>
            </li>
            <li><a href="{{ site.baseurl }}news">News</a></li>
            <li><a href="{{ site.baseurl }}contact-us">Contact us</a></li>
        </ul>
    </nav>
      </div>
    </div>

  </div>

</header>

<div class="row">
  <div class="three columns">
    <p class="call-us">
      Call to arrange a free confidential
      <br>consultation: <strong>01732 454 983</strong>
    </p>
  </div>
</div>

<div class="row page-wrapper">
  <div class="eight columns page-heading">
    <h1>
      "JE Bennett Law is a private client law firm which specialises in providing legal services to the vulnerable client. We pride ourselves on our holistic approach to our clients’ needs."
    </h1>
    <p class="attributed-home">
      - Jane Bennett, Managing Director and Senior Partner
    </p>
  </div>
</div>

</div>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/scripts/doubleTapToGo.js"></script>

<script>
	$( function()
	{
		$( '#nav li:has(ul)' ).doubleTapToGo();
	});
</script>
