/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

em{
  font-weight: 500;
  font-style: normal;
}


/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2 !important;
}

p{
  margin-bottom: $spacing-unit !important;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.5;
}

h2{
  color: $green-color;
  font-size: 20px !important;
  margin-top: 20px;
}

h3{
  color: $green-color;
  font-size: 16px !important;
  margin-top: 10px;
}



/**
 * Links
 */
a {
    color: $green-color;
    text-decoration: none;

    &:hover {
        color: $text-color;
        text-decoration: none;
    }
}

/**
 * Site nav Links
 */

.site-nav a {
    color: $text-color;
    text-decoration: none;
  }

    .site-nav ul {
      text-align: left;
      display: inline;
      margin: 0;
      list-style: none;
    }

    .site-nav ul li {
      display: inline-block;
      position: relative;
      padding-left: $spacing-unit / 2;
      padding-right: $spacing-unit / 2;
      cursor: pointer;
      margin-bottom: 0;
      line-height: 2.5;
    }

    .site-nav ul li ul {
      padding: 0;
      position: absolute;
      box-shadow: none;
      display: none;
      opacity: 0;
      visibility: hidden;
      -webkit-transiton: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -ms-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition: opacity 0.2s;
    }
    .site-nav ul li ul li {
      display: block;
      color: #fff;
      background: $grey-color-light;
    }
    .site-nav ul li:hover ul {
      display: block;
      opacity: 1;
      visibility: visible;
    }

    .dropdown{
      left: -60px;
      width: 300px;
      position: absolute;
      z-index: 10000;
      background-color: $grey-color;
      border-top: 5px solid $green-color;
    }

    .dropdown a{
      color: $grey-color;
    }

    .dropdown a:hover{
      border: none !important;
    }

    .dropdown li{
      border-top: 1px solid $white-color;
    }

    .sub-nav{
      background-color: $grey-color-lighter !important;
        a{
          color: $grey-color !important;
          font-weight: 300;
          padding-left: $spacing-unit / 2;
        }
      }


/**
 * Site footer Links
 */

.site-footer a {
    color: $text-color;
    text-decoration: none;
    margin-left: $spacing-unit;
    font-size: 14px;

    &:visited {
        color: $text-color;
    }

    &:hover {
        color: $green-color;
        text-decoration: none;
        padding-bottom: 5px;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {

    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


/**
 * Alignment
 */

 .left{
   float: left;
 }

 .right{
   float: right;
}

  .center{
    margin: 0 auto;
    text-align: center;
  }
/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Buttons
 */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: $white-color;
  text-align: center;
  font-size: $button-font-size;
  font-weight: 400;
  line-height: 38px;
  text-decoration: none;
  background-color: $green-color;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: $white-color;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: $white-color;
  background-color: $green-color; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: $white-color;
  background-color: $green-color; }

  .button:hover{
    background-color: $green-color-dark;
  }
