/**
 * Site header
 */
.site-header {
    border-bottom: 5px solid $green-color;
    min-height: 80px;
    width: 80%;
    margin: 0 auto;
    background-color: $white-color;
    padding-top: $spacing-unit;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    display: none;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 50px;
    font-weight: 400;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        .trigger a{
          color: $text-color;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 10px;
            color: $text-color;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }


    }
}

.call-us{
  background-color: $green-color;
  color: $white-color;
  font-weight: 400;
  right: 10%;
  padding: 5px 20px;
  height: 60px;
  position: absolute;
  text-align: center;
}

.logo{
  float: left;
}

.hero-image img{
  margin-top: -600px;
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    text-align: center;
    background-color: lighten($grey-color, 40%);
}

.footer-text{
  font-size: 12px;
  float: none !important;
  margin-top: $spacing-unit / 2;
  margin-bottom: 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/**
 * Page header
 */

.header-wrapper{
  background: url("../images/hero.jpg") no-repeat;
}

.page-heading{
  font-weight: 600;
  padding: $spacing-unit / 4 $spacing-unit;
  color: $white-color;
  background: rgba($green-color, 0.8);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
}

.page-heading h1{
  font-size: 18px;
}

.page-wrapper{
  width: 80%;
  margin: 0 auto;
}

/**
 * Home page
 */

 .home-wrapper{
   width: 85%;
   margin: 0 auto;
 }

 .home-feature{
   border-bottom: 5px solid $green-color;
   padding-bottom: $spacing-unit;
   margin-bottom: $spacing-unit * 2;
   min-height: 400px;
 }

 .home-feature-2{
   border-bottom: 5px solid $green-color;
   padding: 0 $spacing-unit 0 0;
   background-color: $grey-color-lighter;

   img{
     width: 55%;
     float: left;
   }

   h3{
    float: right;
    line-height: 1.8;
   }
 }

 .award img{
   margin: 0 3px 0 0;
 }

 .home-quote{
   font-weight: 300;
   padding: $spacing-unit;
   background-color: $grey-color-lighter;
   margin-bottom: $spacing-unit;

   p{
     margin-bottom: 10px;
   }
 }

 .attributed{
   font-style: italic;
   color: $green-color;
 }

 .attributed-home{
   font-style: italic;
   color: $white-color;
   font-size: 16px;
   font-weight: 300;
 }

 .services-intro{
   color: $green-color;
   font-weight: 400;
   font-size: 20px;
 }

 /**
  * Content page styles
  */

  .page-title{
    font-weight: 400;
    font-size: 34px;
    padding: $spacing-unit / 4 $spacing-unit;
    padding-left: $spacing-unit * 5;
    color: $white-color;
    background: rgba($green-color, 0.8);
    margin-top: -95px;
    position: absolute;
    left: 0;
  }

  .grey{
    background: $grey-color-lighter;
    padding: $spacing-unit;
  }

  /**
   * Sidebar styles
   */

.sidebar{
  background: $grey-color-lighter;
  padding: $spacing-unit / 2;
  border-bottom: 5px solid $green-color;

    h2{
      margin-top: 0;
    }

    ul{
      list-style: none;
      margin-left: 0;
    }

    a{
      color: $text-color;

        &:hover{
          color: $green-color;
        }
    }
  }

  /**
   * Sidebar links styles
   */

   .sidebar-link{
     background: $green-color;
     color: $white-color;
     font-size: 16px;
     font-weight: 400;
     padding: $spacing-unit / 2;
     border-bottom: 5px solid $green-color-dark;
     margin-top: $spacing-unit;

     a{
       color: $white-color;
     }
   }

  /**
   * Awards styles
   */

   .award-col{
     background: $grey-color-lighter;
     text-align: center;
     padding: $spacing-unit;
     border-bottom: 5px solid $green-color;
   }

  /**
   * Quote styles
   */

   .quote{
     background: $green-color;
     color: $white-color;
     margin-top: $spacing-unit;
     margin-bottom: $spacing-unit;
     padding: $spacing-unit;
     border-bottom: 10px solid $green-color-dark;
     font-size: 24px;
     font-weight: 500;

       a{
         color: $white-color;
         float: right;
         font-size: 16px;
         font-weight: 300;

         &:hover{
           text-decoration: underline;
         }
       }
   }

   /**
    * Warning Styles
    */

    .warning{
      padding: $spacing-unit / 2;
      color: $white-color;
      background: $red-color-light;
      margin-bottom: $spacing-unit;

      p{
        margin-bottom: 0;
      }
    }

    /**
     * Team page styles
     */

     .team-member{
       p{
         background: $green-color;
         color: $white-color;
         padding: $spacing-unit / 4;
         font-weight: 400;
       }
     }

     /**
      * Story styles
      */

      .story{
        background: $grey-color-light;
        margin-bottom: $spacing-unit;
        padding: $spacing-unit;

        h2{
          color: $white-color;
        }
      }

      .testimonial{
        background: $green-color;
        color: $white-color;
        margin-bottom: $spacing-unit;
        padding: $spacing-unit;
        border-bottom: 10px solid $green-color-dark;
        font-size: 24px;
        font-weight: 500;
      }

      .story-1{
        background: url("../images/story-1.jpg") no-repeat;
      }
